<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd === true">
          <li
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{odd: oddNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item">
            {{ oddNumber }}
          </li>
        </div>
        <!-- 第 1 種處理方法  -->
        <!-- <div *ngIf="onlyOdd === false">
          <li
            *ngFor="let evenNumber of evenNumbers"
            [ngClass]="{odd: evenNumber % 2 !== 0}"
            [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item">
            {{ evenNumber }}
          </li>
        </div> -->
        <!-- 第 2 種處理方法  -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li *ngFor="let evenNumber of evenNumbers" [ngClass]="{odd: evenNumber % 2 !== 0}" [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
              class="list-group-item">
              {{ evenNumber }}
            </li>
          </div>
        </ng-template> -->
        <!-- 第 3 種處理方法 -->
        <div *appUnless="onlyOdd">
          <li *ngFor="let evenNumber of evenNumbers" [ngClass]="{odd: evenNumber % 2 !== 0}" [ngStyle]="{backgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'}"
            class="list-group-item">
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p
        [defaultColor]="'yellow'"
        [appBetterHighlight]="'red'">Style me with a Better Directive</p>
      <ng-template [ngIf]="onlyOdd">
        <p>onlyOdd: {{ onlyOdd }}</p>
      </ng-template>
    </div>
  </div>
</div>
